# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
env/
.venv/
*_venv/
uwsgi.ini

# Environment variables
.env
.env.dev
.env.prod

# Django
db.sqlite3
media/
staticfiles/

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / cache
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/

# Node
node_modules/

# Modelos IA
*.pt